:root {
  --primary-color: #010101;
  --secondary-color: #019deb;
  --overlay-color: rgba(0,0,0,0.3); }

.section-hero {
  position: relative; }
  .section-hero__image {
    height: 85vh;
    position: relative; }
    @media (max-width: 1024px) {
      .section-hero__image {
        height: 60vh; } }
  .section-hero__info {
    position: absolute;
    right: 40px;
    bottom: 120px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem; }
    @media (max-width: 874px) {
      .section-hero__info {
        display: none; } }
    .section-hero__info h4 {
      font-family: 'Oswald', sans-serif;
      font-size: 3rem;
      font-weight: 700; }
  .section-hero__info-v2 {
    position: absolute;
    right: 40px;
    bottom: 120px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    height: 250px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 0 2rem; }
    .section-hero__info-v2 h4 {
      font-family: 'Oswald', sans-serif;
      font-size: 1.2rem;
      font-weight: 700; }
    .section-hero__info-v2 p, .section-hero__info-v2 ul li {
      font-family: 'Oswald', sans-serif; }
    .section-hero__info-v2 ul {
      margin-top: .4rem; }

.section-caption {
  position: relative;
  margin-top: -58px; }
  @media (max-width: 600px) {
    .section-caption {
      margin-top: -51px; } }
  .section-caption .container {
    background: #009deb;
    box-shadow: 0 23px 30px -20px rgba(0, 0, 0, 0.4);
    transition: all 200ms ease-in-out; }
  .section-caption__text {
    padding: 1.6rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .section-caption__text h3 {
      font-size: 2rem;
      font-weight: 700;
      color: #fff; }
      @media (max-width: 600px) {
        .section-caption__text h3 {
          font-size: 1.6rem; } }

.section-caption-over {
  position: relative;
  margin-top: -50px; }
  @media (max-width: 800px) {
    .section-caption-over {
      margin-top: -43px; } }
  .section-caption-over .container {
    background: #009deb;
    box-shadow: 0 23px 30px -20px rgba(0, 0, 0, 0.4);
    transition: all 200ms ease-in-out; }
  .section-caption-over__text {
    padding: 1.4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .section-caption-over__text h3 {
      font-size: 1.6rem;
      font-weight: 700;
      color: #fff; }
      @media (max-width: 600px) {
        .section-caption-over__text h3 {
          font-size: 1.3rem; } }

.navbar {
  background: #010101;
  margin: 0;
  background-image: linear-gradient(to left, #010101, #010101 50%, #f7f7f9 70%, #f7f7f9 100%, #010101 100%);
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  position: fixed;
  width: 100%;
  z-index: 99; }
  .navbar .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    overflow: visible; }
    .navbar .container .logo {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto; }
      @media (max-width: 1084px) {
        .navbar .container .logo {
          padding: 10px 0 10px 0; } }

nav {
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  align-items: center; }
  @media (max-width: 1084px) {
    nav {
      display: none; } }
  nav ul {
    position: relative; }
    nav ul li {
      display: inline-block;
      background-color: #020202; }
  nav a {
    display: block;
    padding: 10px;
    color: #FFF;
    line-height: 60px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase; }
    @media (max-width: 1024px) {
      nav a {
        line-height: 40px; } }
    nav a:hover {
      background-color: #019deb; }

/* Hide Dropdowns by Default */
nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
  /* the height of the main nav */ }

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit; }

nav ul li:hover > ul a:hover {
  display: inherit;
  background-color: #019deb; }

/* Fisrt Tier Dropdown */
nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
  background-color: #000; }

/* Second, Third and more Tiers	*/
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px; }

/* Change this in order to change the Dropdown symbol */
li > a:after {
  content: ' +'; }

li > a:only-child:after {
  content: ''; }

button#responsive-menu-button {
  background: none !important; }

button#responsive-menu-button {
  width: 0 !important;
  height: 0 !important; }

@media (max-width: 600px) {
  button#responsive-menu-button {
    top: 10px !important;
    right: 8% !important; } }

@media (max-width: 320px) {
  button#responsive-menu-button {
    top: 8px !important;
    right: 10% !important; } }

#responsive-menu-container {
  background: var(--secondary-color) !important; }

#responsive-menu li.responsive-menu-item .responsive-menu-item-link {
  font-size: 1rem !important;
  text-transform: uppercase !important;
  font-family: 'Oswald', sans-serif; }

.section-wellcome {
  padding: 3rem 0 0 0; }
  @media (max-width: 600px) {
    .section-wellcome {
      padding-top: 1.4rem; } }
  .section-wellcome .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem; }
    @media (max-width: 600px) {
      .section-wellcome .container {
        grid-template-columns: 1fr; } }
    @media (min-width: 800px) and (max-width: 930px) {
      .section-wellcome .container {
        grid-template-columns: 1fr; } }
  .section-wellcome img {
    width: 100%; }
    @media (max-width: 600px) {
      .section-wellcome img {
        display: none; } }
    @media (min-width: 800px) and (max-width: 930px) {
      .section-wellcome img {
        display: none; } }
  .section-wellcome h2 {
    font-size: 2rem;
    margin-bottom: 1.4rem; }
  .section-wellcome p {
    margin-bottom: 1rem; }
    @media (max-width: 600px) {
      .section-wellcome p {
        font-size: 1.2rem; } }
  .section-wellcome h3 {
    font-size: 1.6rem;
    margin: 3rem 0 1rem 0; }
  .section-wellcome ul {
    margin-bottom: 1rem; }
  @media (max-width: 600px) {
    .section-wellcome .btn {
      margin-bottom: 1.6rem; } }

.section-dance {
  position: relative;
  background: url("../img/shutterstock_aktuelle.jpg") no-repeat center center/cover;
  height: 350px;
  margin-top: -8px; }
  @media (max-width: 600px) {
    .section-dance {
      margin-top: 0;
      height: 150px; } }
  .section-dance__inner {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 860px; }
    .section-dance__inner h3 {
      font-size: 2rem; }
      @media (max-width: 600px) {
        .section-dance__inner h3 {
          font-size: 1.6rem; } }
    .section-dance__inner h2 {
      font-size: 1.8rem;
      margin: 1rem 0 1rem 0; }
      @media (max-width: 600px) {
        .section-dance__inner h2 {
          font-size: 1.2rem; } }

.section-courses {
  padding: 2rem 0;
  background-color: #eee; }
  .section-courses .container {
    padding: 1rem; }
  .section-courses h2 {
    margin-bottom: 1rem;
    color: #070707;
    font-size: 1.6rem; }
  .section-courses__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    line-height: 0;
    box-shadow: 15px 15px 0px #009deb; }
    @media (max-width: 600px) {
      .section-courses__gallery {
        grid-template-columns: repeat(2, 1fr); } }
  .section-courses__big {
    position: relative;
    z-index: 10; }
    .section-courses__big:hover {
      animation: pulse 1s ease;
      z-index: 20; }
    .section-courses__big:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--overlay-color); }
    .section-courses__big-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 1.2rem;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      text-shadow: #000 4px 1px 5px; }
    .section-courses__big img {
      width: 100%; }

.section-overview {
  height: 600px;
  position: relative;
  box-shadow: 0 23px 30px -20px rgba(0, 0, 0, 0.4); }
  @media (max-width: 50em) {
    .section-overview {
      height: 450px; } }
  @media (max-width: 600px) {
    .section-overview {
      min-height: 60vh; } }
  .section-overview__info {
    position: absolute;
    top: 30%;
    left: 3%;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-transform: uppercase; }
    @media (max-width: 50em) {
      .section-overview__info {
        top: 18%; } }
    @media (max-width: 600px) {
      .section-overview__info {
        top: 15%; } }

.section-content {
  padding: 2rem 0; }
  .section-content .container, .section-content .container-width-vw, .section-content .container-custom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.2rem; }
  @media (max-width: 600px) {
    .section-content .container-custom {
      grid-template-columns: 1fr; } }

.section-content-b {
  padding: 2rem 0; }

.section-classes {
  padding: 3rem 0;
  background-color: #eee; }
  .section-classes .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 2.5rem 0; }
    @media (max-width: 600px) {
      .section-classes .container {
        grid-template-columns: repeat(2, 1fr); } }
  .section-classes .box {
    background-color: #fff;
    padding: 0.3rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    transition: all ease-in-out 200ms; }
    .section-classes .box:hover {
      box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3); }
    .section-classes .box__title {
      text-align: center;
      padding: 2rem 0;
      background-color: #eee; }
    .section-classes .box__content {
      padding: 1.6rem 1.6rem 8rem 1.6rem;
      text-align: center;
      font-size: 0.9rem; }
  .section-classes__title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0;
    margin-right: 8rem; }
    .section-classes__title:before {
      content: "";
      border-bottom: 0.1rem solid var(--secondary-color);
      display: inline-block;
      width: 6rem;
      margin: 0 1rem;
      transform: translateY(1rem) translateX(8.7rem); }

.section-content-vw {
  background-color: var(--secondary-color); }
  .section-content-vw .container-width-vw {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    @media (max-width: 600px) {
      .section-content-vw .container-width-vw {
        grid-template-columns: 1fr; } }
  @media (max-width: 600px) {
    .section-content-vw div:last-child {
      display: none; } }

.angebot-page ul {
  margin-left: 30px;
  line-height: 1.8; }
  @media (max-width: 600px) {
    .angebot-page ul {
      margin-left: 0; } }
  .angebot-page ul li i {
    color: #009deb;
    padding-right: 2px; }

.angebot-page h3 {
  margin-bottom: 2rem;
  font-size: 1.6rem; }

.contact-page h3, .poledance-page h3 {
  margin-bottom: 2rem;
  font-size: 1.6rem; }

.contact-page p, .poledance-page p {
  margin-bottom: 2rem; }

.poledance-page h4 {
  margin-bottom: 1.2rem; }

.poledance-page p {
  margin-bottom: 1.6rem; }
  @media (max-width: 600px) {
    .poledance-page p {
      font-size: 1.2rem; } }

.poledance-page ul {
  margin-bottom: 1.2rem; }
  @media (max-width: 600px) {
    .poledance-page ul {
      font-size: 1.2rem; } }

.contact__container {
  display: block;
  padding: 0 1rem;
  width: 100%;
  background-color: #019deb;
  margin-bottom: 3rem; }
  @media (max-width: 1024px) {
    .contact__container {
      margin-bottom: 1rem; } }

.contact__title {
  display: flex;
  justify-content: center;
  padding-top: 0.6rem; }
  .contact__title h2 {
    padding: 0 1rem 0 0;
    margin: 5px 0;
    color: #FBFBFB; }

.contact__form {
  padding: 10px 10px 0 0; }
  .contact__form-input, .contact__form-textarea {
    width: 100%;
    border: 5px solid #FFFFFF;
    border-radius: 5px;
    resize: none;
    padding: 0 5px;
    box-sizing: border-box;
    font-size: 1.2rem;
    color: #25606f; }
  .contact__form p {
    color: #fff; }
  .contact__form input[type="text"] {
    padding: 0;
    height: 40px;
    width: 100%; }
  .contact__form-input:focus, .contact__form-textarea:focus {
    outline: none; }
  .contact__form-input {
    margin: 5px 0 10px 0; }
  .contact__form-textarea {
    margin: 5px 0;
    width: 100%;
    height: 100px; }

hr {
  width: 100%;
  display: block;
  margin: 5px 0;
  height: 5px;
  border: 0;
  background-color: #FBFBFB; }

@media (max-width: 600px) {
  .tt_tabs_navigation {
    display: none; } }

.custom-page h3 {
  margin: 1.2rem 0;
  font-size: 1.6rem; }

.custom-page p {
  margin-bottom: 2rem; }

.metaslider-shadow {
  box-shadow: 20px 20px 0px var(--secondary-color); }
  @media (max-width: 600px) {
    .metaslider-shadow {
      box-shadow: 15px 15px 0px var(--secondary-color); } }

.error-page {
  padding: 8rem 0;
  margin: auto; }

.section-accordion {
  padding: 2rem 0;
  background-color: #eee; }
  .section-accordion .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem; }
    @media (max-width: 600px) {
      .section-accordion .container {
        grid-template-columns: 1fr; } }

.accordion {
  margin: 1rem auto; }

.accordion-toggle {
  display: none; }

.accordion-option {
  position: relative; }

.accordion-title,
.accordion-content {
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: all 0.3s ease-out; }

.accordion-title {
  background: var(--secondary-color);
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: 'Oswald',sans-serif;
  line-height: 2.5em;
  padding: 0 1rem;
  margin-top: -24px;
  cursor: pointer; }
  @media (max-width: 768px) {
    .accordion-title {
      margin-top: -15px; } }

.accordion-title:after, .accordion-title:before {
  content: '';
  position: absolute;
  right: 1.25rem;
  top: 2rem;
  width: 2px;
  height: 0.75rem;
  background-color: #eee;
  transition: all 0.2s; }

.accordion-title:after {
  transform: rotate(90deg); }

.accordion-content {
  max-height: 0;
  overflow: hidden;
  background-color: #fff; }
  .accordion-content p {
    margin: 0;
    padding: 0.5rem 1rem 1rem;
    line-height: 20px;
    font-size: 1rem;
    color: #868686;
    font-family: 'Oswald',sans-serif; }
    @media (max-width: 600px) {
      .accordion-content p {
        padding: 0 1rem 0; } }
    .accordion-content p strong {
      font-size: 1.6rem;
      font-weight: 700;
      font-family: 'Oswald',sans-serif;
      color: #d81f1f;
      line-height: 38px; }

.accordion-toggle:checked + .accordion-title,
.accordion-toggle:checked + .accordion-title + .accordion-content {
  box-shadow: 3px 3px 6px #ddd, -3px 3px 6px #ddd; }

.accordion-toggle:checked + .accordion-title + .accordion-content {
  max-height: 500px; }

.accordion-toggle:checked + .accordion-title:before {
  transform: rotate(90deg) !important; }

.section-footer {
  background: var(--primary-color);
  padding: 4rem 0;
  color: #fff; }
  .section-footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem; }
    @media (max-width: 600px) {
      .section-footer .container {
        grid-template-columns: repeat(2, 1fr); } }
  .section-footer h2 {
    font-size: 2rem;
    margin-bottom: 2rem; }
  .section-footer h3 {
    margin-bottom: 0.7rem; }
  .section-footer a {
    line-height: 1.9;
    color: #ccc; }
  .section-footer a > i {
    color: var(--secondary-color);
    margin-right: .5rem; }
  .section-footer .copyright {
    align-self: flex-end; }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    transform: scale3d(1, 1, 1); } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 100%; }
  @media (max-width: 50em) {
    html {
      font-size: 62.5%; } }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  color: var(--primary-color); }

a {
  color: var(--secondary-color);
  text-decoration: none; }

ul {
  list-style: none; }

h1, h2, h3, h4 {
  line-height: 1.3;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase; }

img {
  width: 100%; }

.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 2rem; }

.container-width {
  max-width: 1140px;
  margin: auto;
  overflow: hidden; }

.container-width-vw {
  width: 100%;
  margin: auto;
  overflow: hidden; }

.container-custom {
  max-width: 1140px;
  margin: auto;
  padding: 0 2rem; }

.btn {
  display: inline-block;
  background: var(--secondary-color);
  color: #fff;
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 10px;
  font-family: 'Oswald', sans-serif; }
  @media (min-width: 800px) and (max-width: 930px) {
    .btn {
      margin-bottom: 1rem; } }
  .btn:hover {
    background: var(--secondary-color); }
  .btn:focus {
    outline: 0; }

.btn-b {
  display: inline-block;
  background: #fff;
  color: var(--primary-color);
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 10px;
  margin: 1rem 0;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif; }
  .btn-b:hover {
    background: #fafafa; }
  .btn-b:focus {
    outline: 0; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--overlay-color); }

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform; }

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1); }

.show-info {
  visibility: hidden;
  width: 200px;
  background-color: #070707;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 3px 0;
  position: absolute;
  top: -5px;
  right: 30px;
  z-index: 1; }

.accordion-option:hover .show-info {
  visibility: visible; }
